
@media screen and (max-width: 1400px) {
    nav {
        width: 70%;
    }

    nav ul li {
        font-size: 22px;
    }
}

@media screen and (max-width: 1260px) {
    .services_fluid_container {
        background-size: 90%, contain;
    }
}

@media screen and (max-width: 1200px) {
    .container {
        width: 100%;
    }
}

@media screen and (max-width: 1150px) {
    .services_fluid_container {
        width: 100%;
        overflow: hidden;
        background: url(img/sea.jpg) 142% 0% no-repeat;
        background-size: 100% 100%;
    }

    .services_content ul {
        width: 50%;
    }
}

@media screen and (max-width: 1050px) {
    .container {
        width: 100%;
        overflow: visible;
    }

    .logo {
        width: 100%;
        float: none;
        display: flex;
        margin: 0 auto;
        margin-top: 30px;
        justify-content: center;
        align-items: center;
    }

    .logo span {
       position: static;
       transform: none;
    }

    nav {
        width: 100%;
        float: none;
        margin-top: 10px;
        margin-bottom: 10px; 
    }

    nav ul {
        width: 50%; 
        margin: 0 auto; 
        text-align: center;
    }

    nav ul li {
        display: inline;
        float: none;
    }

    .header_content {
        width: 70%;
    }
}

@media screen and (max-width: 950px) {
    .services_fluid_container {
        height: auto;
    }

    .services_content {
        width: 100%;
        float: none;
        text-align: center;
    }

    .services_content h2 {
        margin-top: 30px;
    }

    .services_content p,
    .services_content ul {
        width: 40%;
        margin: 0 auto;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 900px) {
    nav {
        height: auto;
    }

    nav ul {
        width: 100%;
    }

    nav ul li {
        display: block;
        margin: 0 auto;
    }

    .services_content p {
        width: 100%;
    }

    .services_content ul {
        width: 60%;
    }
}

@media screen and (max-width: 750px) {
    .services_item {
        width: 100%;
    }

    .services_item img {
        margin-bottom: 10px;
    }

    .services_item p {
        width: 50%;
        margin: 0 auto;
        margin-bottom: 40px;
    }
}

@media screen and (max-width: 500px) {
    .fluid_container {
        height: auto;
    }

    .header_content {
        width: 100%;
        margin-top: 80px;
    }

    .header_content h1 {
        font-size: 35px;
    }

    .header_content p {
        font-size: 15px;
    }

    .services_content p {
        width: 90%;
    }

    .services_content ul {
        width: 80%;
    }
}

